<div class="jumbotron">
  <div class ="container">
    <div class="text-center">
        <h1>Healing Photos</h1>
        <h2>あなたの癒しを感じた写真を共有しよう！</h2>
    </div>
  </div>
</div>

<div class="text-center">
  <%= link_to '会員登録', signup_path, class: 'btn btn-lg btn-success' %>
  <button type="button" class="btn btn-outline-success">ログイン</button>
</div>